.btn {
	background-color: #7943A2;
	color: #fff;
	padding: .65rem 1.2rem;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.btn--orange {
	background-color: #E28E22;
}

.btn--large {
	font-size: 1rem;
}

@media (min-width: 1020px) {
	.btn--large {
		font-size: 1.35rem;
		padding: 1.2rem 2.0rem;
	}
}

.btn--round {
	border-radius: .3125rem;
}

.btn:hover,
.btn:active {
	background: white;
	color: #7943A2;
	font-weight: bold;
}

.btn:focus {
	outline: none;
}