.headline {
	font-weight: 400;
	font-size: 1.9rem;
	color: #7943A2;
}

@media (min-width: 820px) {
	.headline {
		font-size: 2.875rem;
	}
}

.headline--centered {
	text-align: center;
}

.headline--orange {
	color: #E28E22;
}

.headline--small {
	font-size: 1.2rem;
}

@media (min-width: 820px) {
	.headline--small {
		font-size: 1.875rem;
	}
}

.headline--no-t-margin {
	margin-top: 0;
}