.site-header {
	position: absolute;
	padding: .2rem 0;
	width: 100%;
	z-index: 2;
	display: inline-block;
	background-color: rgba(40, 35, 36, .5);
	overflow: hidden; 
}

@media (min-width: 820px) {
	.site-header {
		position: absolute;
		padding: .625rem 0;
		width: 100%;
		z-index: 2;
		display: inline-block;
		background-color: rgba(40, 35, 36, .5);
		overflow: hidden;
	}
}

.site-header__btn-container {
	float: right;
}

.site-header__logo {
	position: absolute;
	top: 0;
	left: .25rem;
	background-color: #E28E22;
	padding: .5rem .625rem;
}

@media (min-width: 820px) {
	.site-header__logo {
		position: absolute;
		top: 0;
		background-color: #E28E22;
		padding: 1.5rem 2rem;
	}
}

.site-header img {
	max-width: 5rem;

}

@media (min-width: 820px) {
	.site-header img {
		max-width: 6rem;
	}
}
