.site-footer {
	background-color: #7943A2;
	color: white;
	padding: .5rem 0;
	text-align: center;
}

@media (min-width: 820px) {
	.site-footer {
		background-color: #7943A2;
		color: white;
		padding: .5rem 0;
		text-align: center;
		position: relative;
		top: 46rem;
	}
}

.site-footer__login {
	position: fixed;
	top: 44.5rem;
	bottom: 0rem;
	width: 100%;
}

.site-footer__user {
	position: relative;
	top: 6rem;
	width: 100%;
}

.site-footer__admin {
	padding-left: .625rem;
	color: white;
	text-decoration: none;
}

.site-footer__admin:hover,
.site-footer__admin:active {
	color: #E28E22;
}