.user-content {
	width: 25rem;
	padding: 2rem;
	border: 1px solid #fff; 
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: #7943A2; 

	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.user-content__form {
	width: 18.75rem;
	margin: 0 auto;
	font-weight: bold;
}

.user-content p {
	margin-bottom: 1.7rem;
}

.user-content__info {
	margin: .2rem auto;
	padding-bottom: 0;
	display: flex;
	justify-content: space-between;
}

.user-content .__request-block {
	margin-top: .5rem;
}

.user-content .__request-title {
	margin-top: 1.5rem;
}

.user-content__request-detail {
	width: 100%;
	padding-top: .625rem;
	margin-top: .625rem;
}

.user-content__request-detail .para {
	color: black;
	font-size: 1rem;
	margin-bottom: .5rem;
}